<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NYU Mini-CSPM - Group 18</title>
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/material-dashboard-2-builder/v3.0.4/assets/css/nucleo-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/material-dashboard-2-builder/v3.0.4/assets/css/nucleo-svg.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/theme.css">
    <link rel="stylesheet" href="/assets/css/loopple/loopple.css">
</head>

<body class="g-sidenav-show  bg-gray-200">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 position-absolute bg-gradient-dark loopple-fixed-start" id="sidenav-main" data-sidebar="true" data-sidebar-value="61">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href="/">
                <img src="/assets/logo/NYU_Stacked_RGB_White.png" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold text-white">Mini-CSPM</span>
            </a>
        </div>
        <hr class="horizontal light mt-0 mb-2">
        <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white active bg-gradient-primary" href="/">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">dashboard</i>
                        </div>
                        <span class="nav-link-text ms-1">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white alert-secondary" href="/ec">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">password</i>
                        </div>
                        <span class="nav-link-text ms-1">Insecure Credentials</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="/iam">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">group</i>
                        </div>
                        <span class="nav-link-text ms-1">Identity & Access Mgmt</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="/net">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">cloud</i>
                        </div>
                        <span class="nav-link-text ms-1">Misconfigurations</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="/vem">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">bug_report</i>
                        </div>
                        <span class="nav-link-text ms-1">Vulnerability Mgmt</span>
                    </a>
                </li>
                <li class="nav-item mt-3">
                    <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8"></h6>
                </li>
                <li class="nav-item mt-3">
                    <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Group 18</h6>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="javascript:;">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">person</i>
                        </div>
                        <span class="nav-link-text ms-1">Brandon Wagoner</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="javascript:;">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">person</i>
                        </div>
                        <span class="nav-link-text ms-1">Clayton Barbier</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="javascript:;">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">person</i>
                        </div>
                        <span class="nav-link-text ms-1">Erik Thompson</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="javascript:;">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">person</i>
                        </div>
                        <span class="nav-link-text ms-1">Shakahra Summers</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidenav-footer position-absolute w-100 bottom-0 ">
                <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Page Options</h6>
                <div class="mx-3">
                  <div class="mx-3">
                    <div id="spinner" style="visibility:hidden;">
                      <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <span id="spinner-text">Loading...</span>
                    </div>
                    <a class="btn bg-gradient-primary w-100" href="javascript:ecScan();" type="button">Scan</a>
            <a class="btn bg-gradient-primary w-100" href="javascript:ecSetup();" type="button">Setup</a>
            <a class="btn bg-gradient-primary w-100" href="javascript:ecTeardown();" type="button">Teardown</a>
            </div>
        </div>
    </aside>
    <div class="main-content position-relative max-height-vh-100 h-100 border-radius-lg" id="panel">
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl loopple-navbar-empty" id="navbarTop">
        </nav>
        <div class="container-fluid pt-3">
                <div class="row removable">
                  <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                      <div class="card mb-4">
                          <div class="card-header p-3 pt-2">
                              <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                                  <i class="material-icons opacity-10">computer</i>
                              </div>
                              <div class="text-end pt-1">
                                  <p class="text-sm mb-0 text-capitalize">Instances</p>
                                  <h4 class="mb-0" id="compute-count">-</h4>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                      <div class="card mb-4">
                          <div class="card-header p-3 pt-2">
                              <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                                  <i class="material-icons opacity-10">person</i>
                              </div>
                              <div class="text-end pt-1">
                                  <p class="text-sm mb-0 text-capitalize">Insecure Credentials</p>
                                  <h4 class="mb-0" id="finding-count">-</h4>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                    <div class="card mb-4">
                        <div class="card-header p-3 pt-2">
                            <div class="icon icon-lg icon-shape bg-gradient-danger shadow-danger text-center border-radius-xl mt-n4 position-absolute">
                                <i class="material-icons opacity-10">crisis_alert</i>
                            </div>
                            <div class="text-end pt-1">
                                <p class="text-sm mb-0 text-capitalize">Open OpsCenter Incidents</p>
                                <h4 class="mb-0" id="ops-count">-</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
              <div class="row removable">
                <div class="col-lg-12"></div>
            </div>
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>Insecure Credentials</h6>
                        </div>
                        <div class="col-lg-6 col-5 my-auto text-end">
                            <div class="dropdown float-lg-end pe-4">
                                <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v text-secondary" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                                    <li><a class="dropdown-item border-radius-md" href="javascript:ecScan();">Scan</a></li>
                                    <li><a class="dropdown-item border-radius-md" href="javascript:ecSetup();">Setup</a></li>
                                    <li><a class="dropdown-item border-radius-md" href="javascript:ecTeardown();">Teardown</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Instance ID</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody id="results">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>Ops Center Information</h6>
                        </div>
                        <div class="col-lg-6 col-5 my-auto text-end">
                            <div class="dropdown float-lg-end pe-4">
                                <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v text-secondary" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                                    <li><a class="dropdown-item border-radius-md" href="javascript:ecScan();">Scan</a></li>
                                    <li><a class="dropdown-item border-radius-md" href="javascript:ecSetup();">Setup</a></li>
                                    <li><a class="dropdown-item border-radius-md" href="javascript:ecTeardown();">Teardown</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ops Item Id</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Title</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created</th>
                                </tr>
                            </thead>
                            <tbody id="ops-results">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>Remediation Activity</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="row">
                        <div class="col-lg-1 col-1">
                        </div>
                        <div class="col-lg-10 col-9">
                            <ul class="list-group" id="remediation-log">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer pt-3 pb-4">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                        <div class="copyright text-center text-sm text-muted text-lg-start">
                            © 2022,
                            made with
                            <a href="https://www.creative-tim.com/product/material-dashboard" class="font-weight-bold text-capitalize" target="_blank">Material Dashboard</a> &amp;
                            <a href="https://www.loopple.com" class="font-weight-bold text-capitalize" target="_blank">Loopple</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/material-dashboard-2-builder/v3.0.4/assets/js/core/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/material-dashboard-2-builder/v3.0.4/assets/js/core/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/material-dashboard-2-builder/v3.0.4/assets/js/plugins/chartjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/material-dashboard-2-builder/v3.0.4/assets/js/material-dashboard.min.js"></script>
    <script src="/assets/js/loopple/loopple.js"></script>


    <!-- our code -->
    <script>
        function ecSetup() {
            document.getElementById("spinner-text").innerText = "Setting up...";
            spinner = document.getElementById("spinner");
            spinner.style.visibility = "visible";
            fetch('/ec/setup/')
                .then(response => response.json())
                .then(data => {
                    ecScan();
                })
                .catch(error => {
                  console.error(error);                     
                  spinner.style.visibility = "hidden";
                });
        }

        function ecTeardown() {
            document.getElementById("spinner-text").innerText = "Tearing down...";
            spinner = document.getElementById("spinner");
            spinner.style.visibility = "visible";
            fetch('/ec/teardown/')
                .then(response => response.json())
                .then(data => {
                    ecScan();
                })
                .catch(error => {
                  console.error(error);                     
                  spinner.style.visibility = "hidden";
                });
        }

        function ecScan() {
            document.getElementById("spinner-text").innerText = "Scanning...";
            spinner = document.getElementById("spinner");
            spinner.style.visibility = "visible";
            fetch('/ec/scan/')
                .then(response => response.json())
                .then(data => {
                    compute_count = 0;
                    finding_count = 0;
                    ops_count = 0;
                    dataList = document.getElementById("results");
                    dataList.innerHTML = "";
                    document.getElementById("ops-count").innerText = data.ops.length;
                    opsList = document.getElementById("ops-results");
                    opsList.innerHTML = "";
                    data.ops.forEach(opsItem => {
                        row = `
                    <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <i class="material-icons opacity-10 me-3">crisis_alert</i>
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">${opsItem.OpsItemId}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-xs font-weight-bold">${opsItem.Title}</span>
                                    </td>
                                    <td class="text-sm">
                                        <span class="text-xs font-weight-bold">${opsItem.Status}</span>
                                    </td>
                                    <td class="text-sm">
                                        <span class="text-xs font-weight-bold">${opsItem.CreatedTime}</span>
                                    </td>
                                </tr>
                    `;
                    opsList.innerHTML += row;

                    });
                    if (data.ops.length == 0){
                        row = `                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <i class="material-icons opacity-10 me-3"></i>
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">No Ops Center Items Found.</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-xs font-weight-bold"></span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-xs font-weight-bold"></span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-xs font-weight-bold"></span>
                                    </td>
                                </tr>           
                                 `;
                      dataList.innerHTML += row;
                    }
                    

                    keys = Object.keys(data.instances);
                    compute_count = keys.length;
                    data.findings.forEach(finding => {
                        key = finding.instanceId;
                        result = finding.result;
                        status = `<span class="badge bg-gradient-success">Secure</span>`;
                        remediate = "";
                        if (finding.issue) {
                            finding_count++;
                            status=`<span class="badge bg-gradient-danger">Exposure</span>`;
                            remediate = `<button type="button" class="btn bg-gradient-secondary btn-sm" onclick="ecRemediate('${key}')">Remediate</button>`;
                        }
                        row = `
                    <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <i class="material-icons opacity-10 me-3">computer</i>
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">${key}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-xs font-weight-bold align-middle">${data.instances[key]}</span>
                                    </td>
                                    <td class="text-sm">
                                        <span class="text-xs font-weight-bold align-middle">${status}</span>
                                    </td>
                                    <td class="text-sm">
                                        <span class="text-xs font-weight-bold align-middle">${remediate}</span>
                                    </td>
                                </tr>
                    `;
                    dataList.innerHTML += row;

                        
                    })
                    if (compute_count == 0){

                      row = `                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <i class="material-icons opacity-10 me-3"></i>
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">No issues detected.</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-xs font-weight-bold"></span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-xs font-weight-bold"></span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-xs font-weight-bold"></span>
                                    </td>
                                </tr>           
                                 `;
                      dataList.innerHTML += row;
                    }

                    document.getElementById("compute-count").innerText = compute_count;
                    document.getElementById("finding-count").innerText = finding_count;
          
                    spinner.style.visibility = "hidden";
                })
                .catch(error => {
                  console.error(error);                     
                  spinner.style.visibility = "hidden";
                });
        }

        function ecRemediate(instanceId) {
            document.getElementById("spinner-text").innerText = "Scanning...";
            spinner = document.getElementById("spinner");
            spinner.style.visibility = "visible";
            fetch(`/ec/remediate/${instanceId}`)
                .then(response => response.json())
                .then(data => {
                    log = document.getElementById("remediation-log");
                    log.innerHTML += `<li class="list-group-item"><pre>${data.StandardOutputContent}</pre></li>`;
                    ecScan();
                })
                .catch(error => {
                  console.error(error);                     
                  spinner.style.visibility = "hidden";
                });

        }

        ecScan();
    </script>
</body>
